node_modules/
out/
dist/
dist-electron/
.idea/
*.log
*.tmp
*.temp
*.tsbuildinfo
.DS_Store
Thumbs.db
desktop.ini
coverage/
.vite/
.cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
